@model IEnumerable<EntityLayer.Entities.Group>
@{
    ViewData["Title"] = "لیست گروه بندی";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
@{
    int counter = 1;
}

<style>
    tr:hover td {
        background-color: #dcd6d6;
    }
</style>

<div class="content">

    <form asp-controller="Group" asp-action="SearchGroup">
        <div class="panel panel-heading col-md-12 col-xs-12"
             style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">

            <span style="font-weight:bold;" class="col-md-6 col-xs-12">
                <i class="icon-user"></i>
                "لیست گروه بندی
            </span>
        </div>

        <div class="panel col-md-12 chearchStyle">
            <span style="margin-bottom:5px;">جستجو بر اساس دسته بندی کتاب :</span>

            <input type="text" id="inputsearch" name="inputsearch" value="@ViewBag.inputsearch" class="inputSearch" />

            <button type="submit">
                جستجو
                <i class="icon-search4"></i>
            </button>

        </div>
    </form>

    <div style="margin-bottom:5px;">
        <a class="btn customGreen1" asp-controller="Group" asp-action="Create">
            <i class="glyphicon glyphicon-plus"></i>
            افزودن دسته بندی
        </a>
    </div>

    <div>
        <div class="table-responsive"
             style=" overflow:auto; border:1px solid gray; border-radius:2px; box-shadow:3px 3px 1px 0 gray;">
            <table class="table table-bordered" style="background-color:white;">
                <thead>
                    <tr style="font-size:14px; font-weight:bold; background-color:#D0ECE7;">
                        <td>ردیف</td>
                        <td>نام دسته</td>
                        <td>توضیحات</td>
                        <td style="width:220px;">عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="font-size:12px;">
                            <td style="width:60px; text-align:center;">@counter</td>
                            <td style="text-align:right;">@item.GroupName</td>
                            <td>@item.Description</td>
                            <td>
                                <div class="row">

                                    <a asp-controller="Group" asp-action="Edit" asp-route-id="@item.GroupId"
                                       style="height:30px; width:40px; font-size:9px; margin-bottom:3px;"
                                       class="btn customBlue2" title="ویرایش">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                    @if (item.Books.Count() == 0)
                                    {
                                        <a asp-controller="Group" asp-action="Delete" asp-route-groupId="@item.GroupId"
                                           data-toggle="modal" data-target="#modal-action"
                                           style="height:30px; width:40px; font-size:10px; margin-bottom:3px;"
                                           class="btn customRed1">
                                            <i class="glyphicon glyphicon-trash " title="حذف"></i>
                                        </a>
                                    }
                                </div>

                            </td>
                        </tr>
                        counter++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_groupPaging" />



@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", Size = BootstrapModel.ModalSize.Medium })

@section AdminScripts{
    <script src="~/js/modal/modal.js"></script>
    }

